<form [formGroup]="branchForm" (ngSubmit)="submit()" >
  <h1 mat-dialog-title>Ofis Ekleme</h1>
  <div mat-dialog-content >
    <input type="hidden" formControlName="id">
    <mat-form-field appearance="fill">
      <mat-label>Şube İsmi</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="branchForm.get('name')?.hasError('required')">Lütfen şube ismini girin!</mat-error>
    </mat-form-field>
    <div *ngIf="branchOfficeDetail">Id: {{branchOfficeDetail!.id!}}</div>
    <div *ngIf="branchOfficeDetail">Kullanıcı sayısı: {{branchOfficeDetail.userCount}}</div>
    <div *ngIf="branchOfficeDetail">Oluşturulma tarihi: {{branchOfficeDetail!.createdAt! | date}}</div>
    <mat-slide-toggle (change)="changeControlEnability($event)" >Düzenleme Modu</mat-slide-toggle>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button type="button" mat-dialog-close>Çıkış</button>
    <button mat-raised-button color="warn" type="button" [disabled]="disabled" (click)="deleteBranch()">Sil</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="disabled">Düzenle</button>
  </div>
</form>