<form [formGroup]="branchForm" (ngSubmit)="submit()" >
  <h1 mat-dialog-title>Ofis Ekleme</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Şube İsmi</mat-label>
      <input matInput formControlName="branchOffice">
      <mat-error *ngIf="branchForm.get('branchOffice')?.hasError('required')">Lütfen şube ismini girin!</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">Çıkış</button>
    <button mat-button type="submit" cdkFocusInitial>Ekle</button>
  </div>
</form>
