<mat-nav-list role="navigation" fxLayout="column" fxLayoutAlign="space-between none">
  <div class="up">

    <mat-list-item *ngFor="let menu of upMenu$ | async" [routerLink]="menu.routerLink" (click)="closeSidenav()">
      <a matLine>{{menu.content}}</a>
      <button mat-icon-button>
        <mat-icon>{{menu.matIcon}}</mat-icon>
      </button>
    </mat-list-item>
    
  </div>
  <div class="down">
    <mat-list-item *ngFor="let menu of downMenu$ | async" [routerLink]="menu.routerLink">
      <a matLine>{{menu.content}}</a>
      <button mat-icon-button>
        <mat-icon>{{menu.matIcon}}</mat-icon>
      </button>
    </mat-list-item>
  </div>

</mat-nav-list>
