{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.AspNetCore.Components": "Warning",
      "Microsoft.AspNetCore.SignalR": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "ConnectionStrings": {
    "Main": "Host=localhost;Port=5432;Database=IntegrationDb;Username=YOUR_USERNAME;Password=YOUR_PASSWORD_HERE;Pooling=true;Maximum Pool Size=30;Include Error Detail=true",
    "Redis": "localhost:6379"
  },
  "Trendyol": {
    "UseMock": true
  },
  "JwtTokenOptions": {
    "SecurityKey": "YOUR_JWT_SECRET"
  },
  "Minio": {
    "Endpoint": "localhost:9000",
    "AccessKey": "YOUR_MINIO_ACCESS_KEY",
    "SecretKey": "YOUR_MINIO_SECRET",
    "UseSSL": false,
    "BucketName": "products",
    "PublicBaseUrl": "http://localhost:9000"
  },
  "Serilog": {
    "MinimumLevel": "Information"
  }
}
