<form [formGroup]="roleForm" (ngSubmit)="submit()" >
  <h1 mat-dialog-title>Rol Ekleme</h1>
  <mat-dialog-content  *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="!isLoading" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field appearance="fill">
      <mat-label>Rol ismi</mat-label>
      <input matInput formControlName="name">
      <mat-hint align="start"><strong>Kullanıcı rolü</strong> </mat-hint>
      <mat-error *ngIf="roleForm.get('name')?.hasError('required')">Lütfen rol ismini giriniz.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Yetkiler</mat-label>
      <mat-select multiple formControlName="claims">
        <mat-option *ngFor="let claim of roleClaims$ | async" [value]="claim.id.toString()">
          {{claim.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close >Çıkış</button>
    <button mat-button type="submit" >{{isEdit?'Düzenle':'Ekle'}}</button>
  </div>
</form>
