<mat-card class="example-card">
  <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()" fxLayout="column" >
    <input type="hidden" >
    <mat-card-title fxFlexAlign="center">Lütfen şifrenizi oluşturun.</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2px">
      <mat-form-field appearance="outline">
        <mat-label>Şifre</mat-label>
        <input matInput type="password" name="password" formControlName="password" placeholder="Lütfen şifrenizi girin.">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-error *ngIf="setPasswordForm.get('password')?.hasError('required')">
          Şifre alanı gereklidir!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Şifre tekrar</mat-label>
        <input #passwordConfirmTbox matInput type="password" name="passwordConfirm" formControlName="passwordConfirm" placeholder="Lütfen şifrenizi tekrar girin.">
        <mat-error *ngIf="setPasswordForm.get('passwordConfirm')?.hasError('required')">
          Lütfen şifrenizi doğrulayın!
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="setPasswordForm.hasError('notMatches') && (setPasswordForm.dirty || setPasswordForm.touched) && passwordConfirmTbox">
        Şifreler eşleşmiyor lütfen kontrol edin.
      </mat-error>
    </mat-card-content>
    <mat-divider ></mat-divider>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" [disabled]="!setPasswordForm.valid" type="submit">Onayla</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </form>
    </mat-card>
